{% extends "base.html" %}

{% block title %}Najmator{% endblock %}

{% block additional_head_tags %}
    {% if user.is_authenticated and not next %}
        <meta http-equiv="refresh" content="0; url={% url 'system:user_page' %}" />
    {% endif %}
{% endblock %}


{% block body_class %}class="login_page"{% endblock %}

    {% block main %}
        <div class="login_form_wrapper">

        {% if next %}
            {% if user.is_authenticated %}
            <p class="error">Proszę zalogować się na konto posiadające prawa dostępu do tej strony.</p>
            {% else %}
            <p class="error">Proszę zalogować się, by zobaczyć tę stronę.</p>
            {% endif %}
        {% endif %}
        
        {% if user.is_authenticated and not next%}
            <p class="error">Jesteś już zalogowany.</p> 
            Jeżeli przeglądarka nie zrobi tego automatycznie,
            <a href="{% url 'system:user_page' %}">
                kliknij tutaj,
            </a>
            żeby przejść na swoją stronę użytkownika.
        {% else %}
            <form method="post" action="{% url 'login' %}" class="login_form form">
            {% csrf_token %}

            <div class="form_field">
              {{ form.username.label_tag }} <br />
              {{ form.username }}
            </div>
            <div  class="form_field">
              {{ form.password.label_tag }} <br />
              {{ form.password }}
            </div>

            <div  class="form_submit">
              <input type="submit" value="Zaloguj" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
            
            {% if form.errors %}
            <p class="error">Nieprawidłowa nazwa użytkownika bądź hasło.</p>
            {% endif %}
            
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            <!-- We didn't 
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p> 
            -->
        {% endif %}
    </div>
{% endblock %}

{% block background_copy_right %}
    Obrazek cytryn by <a href="https://commons.wikimedia.org/wiki/File:Citrus_limon_extracted_1.png">Andrikkos</a> (CC BY-SA)
{% endblock %}
