<!DOCTYPE html>
<html>
<head>
	<title>[Imię i Nazwisko] – Najmator</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" href="style.css">
	<link rel="icon" type="image/png" href="images/favicon.png" />	
    <script>
        function SaveEstateEdit() {
            document.getItemById('estate_edit_form').submit();
        }
    </script>
</head>

<body class="estate_edit_page">

<div id="body_wrapper">
    <header>
        <h1>Najmator</h1>
        <h2>System najmu mieszkań</h2>
    </header>
    
    <nav>
        <div id="estate_data">
            <a href="javascript:history.go(-1)">Powrót</a>
        </div>
        
        <div id="actions">
            <a href="[AKCJA WYLOGOWANIA]">Wyloguj</a>
        </div>
    </nav>
    
    <div id="page_title">
        <h3>Edycja nieruchomości:</h3>
    </div>

    <form method="post" id="estate_edit_form" novalidate> 
    <div id="main" class="estate_page_main_div">
        <div id="lodger_form"> 
              {% csrf_token %}
              <table border="1"> 
                {{ form }} 
              </table> 
        </div> 
        <div id="estate_form_actions"> 
        <!-- [Jeżeli dodawanie] -->
            <a href="javascript:{}" onclick="SaveEstateEdit()">Dodaj nieruchomość</a> 
            <br />
            <a href="[AKCJA POWROTU DO STRONY UŻYTKOWNIKA]">Anuluj</a>
        <!-- -->
        <!-- [Jeżeli edytowanie] -->
            <a href="[AKCJA USUŃ NIERUCHOMOŚĆ]">Usuń nieruchomość</a> 
            <br /> 
            <a href="javascript:{}" onclick="SaveEstateEdit()">Aktualizuj dane nieruchomości</a> 
            <br />
            <a href="[AKCJA POWROTU DO STRONY UŻYTKOWNIKA]">Anuluj</a> 
        <!-- -->
        </div> 
    </div>    
    </form>    

    <footer>
        <hr />
        (c) 2018 Uniwersytet Warszawski 
        <br />
        Obrazek limonek by <a href="students.mimuw.edu.pl/~tn370413/Najmator/strona_nieruchomosci.html">Evan Amos</a> (CC 0)
    </footer>
</div>

</body>
</html>
