<!DOCTYPE html>
<html>
<head>
	<title>[Imię i Nazwisko] – Najmator</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" href="style.css">
	<link rel="icon" type="image/png" href="images/favicon.png" />	
    <script src="js/enable_lodger_edit.js"></script>
</head>

<body class="estate_page">

<div id="body_wrapper">
    <header>
        <h1>Najmator</h1>
        <h2>System najmu mieszkań</h2>
    </header>
    
    <nav>
        <div id="estate_data">
            <a href="javascript:history.go(-1)">Powrót</a>
            <br />
            <span class="label">Nazwa:</span> [Nazwa]
            <br />
            <span class="label">Adres:</span> [Adres]
            <br />
            <span class="label">Wielkość:</span> [Wielkość] m²
            <br />
            <span class="label">Rodzaj:</span> [Rodzaj]
            <br />
        </div>
        
        <div id="actions">
            <a href="[AKCJA WYLOGOWANIA]">Wyloguj</a>
            <br />
            <a href="[AKCJA EDYTUJ NIERUCHOMOŚĆ">Edytuj nieruchomość</a>
            <br />
            <a href="[AKCJA USUŃ NIERUCHOMOŚĆ]">Usuń nieruchomość</a>
        </div>
    </nav>
    
    <div id="page_title">
        <h3>Dane lokatora:</h3>
    </div>

    <div id="main">
    
    <!-- GDY W TRYBIE WYŚWIETLANIA -->
        <div id="lodger_display" class="estate_page_main_div">
            <div id="lodger_data">
                <span class="label">E-mail:</span>
                [Email]
                <br />
                <span class="label">Telefon:</span>
                [Tel]
                <br />
                <span class="label">Imię i nazwisko:</span>
                [Imię i nazwisko]
                <br />
                <span class="label">Cena wynajmu:</span>
                [Cena]
                <br />
                <span class="label">Wynajem od </span>
                [Data_od] 
                <span class="label"> do </span>
                [Data_do]
                <br />
            </div>
            
            <div id="lodger_data_actions">
                <a href="[AKCJA USUŃ LOKATORA]">Usuń lokatora</a>
                <br />
                <a href="#" onclick="EnableLodgerEdit()">Edytuj dane lokatora</a>  
            </div>
        </div>
    <!-- -->
    <!-- GDY W TRYBIE EDYCJI -->
        <div id="lodger_edit" style="display:none;" class="estate_page_main_div">
            <form method="post" id="lodger_edit_form" novalidate> 
            <div id="lodger_form"> 
                  {% csrf_token %}
                  <table border="1"> 
                    {{ form }} 
                  </table> 
            </div> 
            <div id="lodger_form_actions"> 
                <a href="[AKCJA USUŃ LOKATORA]">Usuń lokatora</a> 
                <br /> 
                <a href="javascript:{}" onclick="SaveLodgerEdit()">Aktualizuj dane lokatora</a> 
                <br /> 
                <a href="#" onclick="CancelLodgerEdit()">Anuluj</a> 
            </div> 
            </form>
        </div>
    <!-- -->
    
    </div>

    <footer>
        <hr />
        (c) 2018 Uniwersytet Warszawski 
        <br />
        Obrazek bananów by <a href="https://en.wikipedia.org/wiki/Banana#/media/File:Banana_and_cross_section.jpg">fir0002</a> (CC BY-NC)
    </footer>
</div>

</body>
</html>
