<!DOCTYPE html>
<html>
<head>
	<title>[Imię i Nazwisko] – Najmator</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" href="style.css">
	<link rel="icon" type="image/png" href="images/favicon.png" />	
</head>

<body class="user_page">

<div id="body_wrapper">
    <header>
        <h1>Najmator</h1>
        <h2>System najmu mieszkań</h2>
    </header>
    
    <nav>
        <div id="user_data">
            <span class="user_name">[Imię i Nazwisko]</span>
            <br />
            <span class="user_email">[Adres e-mail]</span>
        </div>        
        <div id="actions">
            <a href="[AKCJA WYLOGOWANIA]">Wyloguj</a>
            <br />
            <a href="[AKCJA DODAJ NIERUCHOMOŚĆ]">Dodaj nieruchomość</a>
        </div>
    </nav>
    
    <div id="page_title">
        <h3>Nieruchomości użytkownika:</h3>
    </div>
    
    <div id="main">
        <ol id="estates_list">
            <li><div class="estate_entry_wrapper">
                <div class="estate_part estate_info">
                    <h4 class="estate_name">[Nazwa nieruchomości]</h4>
                    [Adres]
                </div>
                <div class="estate_part estate_occupancy">
                    <!-- jeżeli nie wynajęte -->
                        <span class="unoccupied_estate">NIEWYNAJĘTE</span>
                    <!-- koniec jeżeli -->
                    <!-- jeżeli wynajęte -->
                        <span class="label estate_property_label">Cena:</span>
                        <span class="estate_price estate_data">[Cena]</span>
                        <br />
                        <span class="label estate_lodger_label">Lokator:</span>
                        <span class="estate_lodger_name estate_data">
                            [Imię i nazwisko lokatora]
                        </span>
                        <br />
                        <span class="estate_rent_dates">
                            Od YYYY-MM-DD do YYYY-MM-DD
                        </span>
                    <!-- koniec jeżeli -->
                </div>
                <div>
                    <a href="[AKCJA EDYCJI]">Edytuj</a>
                    <br />
                    <a href="[AKCJA USUNIĘCIA NIERUCHOMOŚCI]">Usuń</a>
                </div>
            </div></li>             
        </ol>
    </div>

    <footer>
        <hr />
        (c) 2018 Uniwersytet Warszawski 
        <br />
        Obrazek nektarynek by <a href="https://commons.wikimedia.org/wiki/Prunus_persica#/media/File:Nectarine.jpg">Martin Möller</a> (CC BY-SA)
    </footer>
</div>

</body>
</html>
