{% extends "base.html" %}


{% block title %}{{ estate.name }} – Lista zdjęć – Najmator{% endblock %}

{% block additional_head_tags %}

{% endblock %}

{% block body_class %}class="photo_list_page"{% endblock %}

{% block nav %}
    <div id="estate_data">
        <a href="{% url 'system:estate_page' estate.id %}">Powrót</a>
    </div>
    
    <div id="actions">
        <a href="{% url 'logout' %}">Wyloguj</a>
    </div>
{% endblock %}
    
{% block page_title %}
        <h3>Lista zdjęć nieruchomości <br /> {{ estate.name }}</h3>
    <div id="page_title">
    </div>
{% endblock %}

{% block main %}
    <div class="estate_page_main_div">
        {% for photo in photos %}
            <img src="/media/estate_photos/1/index.html" alt="{{photo.photograph.url}}" />
        {% endfor %}
    </div>    
    
{% endblock %}

{% block background_copy_right %}
    Mandarynka, pomelo, cytron, papeda. To od nich pochodzi większość gatunków cytrusów uprawianych przemysłowo. Obrazek mandarynek: <a href="https://commons.wikimedia.org/wiki/File:Mandarin_Oranges_(Citrus_Reticulata).jpg">Joe Ravi</a> (CC-BY)
{% endblock %}
