{% extends "base.html" %}

{% block title %}[Nazwa nieruchomości] – Edycja – Najmator{% endblock %}

{% block additional_head_tags %}
    <script>
        function SaveEstateEdit() {
            document.getItemById('estate_edit_form').submit();
        }
    </script>
{% endblock %}

{% block body_class %}class="estate_edit_page"{% endblock %}

{% block nav %}
    <div id="estate_data">
        <a href="javascript:history.go(-1)">Powrót</a>
    </div>
    
    <div id="actions">
        <a href="{% url 'logout' %}">Wyloguj</a>
    </div>
{% endblock %}
    
{% block page_title %}
    <div id="page_title">
        <h3>Edycja nieruchomości:</h3>
    </div>
{% endblock %}

{% block main %}
    <form method="post" id="estate_edit_form" novalidate> 
    <div class="estate_page_main_div">
        <div id="lodger_form"> 
              {% csrf_token %}
              <table border="1"> 
                {{ form }} 
              </table> 
        </div> 
        <div id="estate_form_actions"> 
        <!-- [Jeżeli dodawanie] -->
            <a href="javascript:{}" onclick="SaveEstateEdit()">Dodaj nieruchomość</a> 
            <br />
            <a href="{% url 'user_page' %}">Anuluj</a>
        <!-- -->
        <!-- [Jeżeli edytowanie] -->
            <a href="[AKCJA USUŃ NIERUCHOMOŚĆ]">Usuń nieruchomość</a> 
            <br /> 
            <a href="javascript:{}" onclick="SaveEstateEdit()">Aktualizuj dane nieruchomości</a> 
            <br />
            <a href="{% url 'user_page' %}">Anuluj</a> 
        <!-- -->
        </div> 
    </div>    
    </form>
{% endblock %}

{% block background_copy_right %}
    Obrazek limonek by <a href="students.mimuw.edu.pl/~tn370413/Najmator/strona_nieruchomosci.html">Evan Amos</a> (CC 0)
{% endblock %}
