{% extends "base.html" %}

{% block title %}{{ estate.name }} – Edycja – Najmator{% endblock %}

{% block additional_head_tags %}
    <script>
        function SaveEstateEdit() {
            document.getElementById('estate_edit_form').submit();
        }
    </script>
{% endblock %}

{% block body_class %}class="estate_edit_page"{% endblock %}

{% block nav %}
    <div id="estate_data">
        <a href="{% url 'system:user_page' %}">Powrót</a>
    </div>
    
    <div id="actions">
        <a href="{% url 'logout' %}">Wyloguj</a>
    </div>
{% endblock %}
    
{% block page_title %}
{% if edit %}
    <div id="page_title">
        <h3>Edycja nieruchomości:</h3>
    </div>
{% else %}
    <div id="page_title">
        <h3>Dodanie nieruchomości:</h3>
    </div>
{% endif %}
{% endblock %}

{% block main %}
    <div class="estate_page_main_div">
    <form method="post" id="estate_edit_form"> 
        <div id="lodger_form"> 
              {% csrf_token %}
              <table border="1"> 
                {{ form }} 
              </table> 
        </div> 
        <div id="estate_form_actions"> 
        <!-- [Jeżeli dodawanie] -->
        {% if not edit %}
            <a href="javascript:{}" onclick="SaveEstateEdit()">Dodaj nieruchomość</a> 
            <br />
            <a href="{% url 'system:user_page' %}">Anuluj</a>
        <!-- -->
        <!-- [Jeżeli edytowanie] -->
        {% else %}
            <a href="{% url 'system:delete_estate' estate.id %}">Usuń nieruchomość</a> 
            <br /> 
            <a href="javascript:{}" onclick="SaveEstateEdit()">Aktualizuj dane nieruchomości</a> 
            <br />
            <a href="{% url 'system:user_page' %}">Anuluj</a> 
        {% endif %}
        <!-- -->
        </div> 
    </form>
    </div>    
    
{% endblock %}

{% block background_copy_right %}
    Obrazek limonek by <a href="students.mimuw.edu.pl/~tn370413/Najmator/strona_nieruchomosci.html">Evan Amos</a> (CC 0)
{% endblock %}
